<!DOCTYPE html>
<!--Exercicio 02 Directives-->
<html lang="en-us">

<head>
<meta charset="utf-8">
<!--angularjs-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<title>Hello...</title>
<style type="text/css">

</style>
</head>

<body>
<h1>Directives</h1>
	<!--Criando Uma Multiplicação-->
	<div ng-app="" ng-init="Quantidade=5;Preco=3.80">
		<!--Mostrando Resultados-->
		<p>Digite A Quantidade:<input type="number" ng-model="Quantidade"/></p>
		<p>Digite O Preço:<input type="number" ng-model="Preco"/></p>
		<p><b>O Total é:</b> {{ Quantidade * Preco }}</p>
	</div>
</body>
<script>
</script>
</html>
