<!DOCTYPE html>
<!--Exercicio 05 Trabalhando com modulo e controller-->
<html lang="en-us">

<head>
<meta charset="utf-8">
<!--angularjs-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<title>Hello...</title>
<style type="text/css">

</style>
</head>

<body>
<h1>Hello Word</h1>
	<div ng-app="MeuApp" ng-controller="MeuController">
		Primeiro Nome: <input type="text" ng-model="Firstname"/>
		Segundo  Nome: <input type="text" ng-model="Lastname"/>
		<br>
		Seu nome é : {{Firstname + " " +Lastname}}
	</div>
</body>
<script>
	var app = angular.module('MeuApp',[]);
		app.controller('MeuController',function($scope){
			//Definindo scopo inicial como "joao vitor" nas variaveis
			$scope.Firstname = "Joao";
			$scope.Lastname  = "Vitor";
		});
</script>
</html>
