<!DOCTYPE html>
<!--Exercicio 06-->
<html lang="en-us">

<head>
<meta charset="utf-8">
<!--angularjs-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<title>Hello...</title>
<style type="text/css">

</style>
</head>

<body>
<h1>Data_binding</h1>
	<!--Criando -->
	<div ng-app="Modulo" ng-controller="nomeControlador" >
		<!--Mostrando Resultados-->
		Primeiro Nome:<input type="text" ng-model="nome"/>
		<br>
		Segundo  Nome:<input type="text" ng-model="sobrenome"/>
		<h1>Seu Nome Inteiro é: {{ nomeCompleto() }}</h1>
	</div>
</body>
<script>
var app = angular.module('Modulo',[]);
app.controller('nomeControlador',function($scope){
	$scope.nome = "João";
	$scope.sobrenome = "Vitor";
	$scope.nomeCompleto = function(){
		return $scope.nome + " " + $scope.sobrenome;
	};
});
</script>
</html>
